body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to right, #62aada7c 0%, #b3f278 100%);
}
header {
    background-color: rgba(43, 122, 63, 0.6);
    color: #ffffff;
    padding: 15px 30px;
    backdrop-filter: blur(5px);
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;

}
footer {
    background-color: rgba(43, 122, 63, 0.6);
    color: #ffffff;
    padding: 15px 30px;
    backdrop-filter: blur(5px);
    margin-top: auto;
    text-align: center;
    font-size: 16px;
}
form {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px auto;
    padding: 30px;
    max-width: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form label {
    display: block;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
}
select, option, input, textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: green;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

#adicionar-meta:hover {
    background-color: rgb(13, 73, 8);
    color: white;
}

ul {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px auto;
    padding: 30px;
    max-width: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

li {
    width: 100%;
    margin-bottom: 10px;
    background-color: rgba(209, 209, 209, 0.664);
    padding: 10px;
    border-radius: 5px;
}
.item-lista {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px 12px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.item-lista h3 {
    margin: 0;
    font-size: 18px;
}
.item-lista p {
    margin: 0;
    font-size: 14px;
}
.btn-concluir {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 6px 10px;
    margin-top: 6px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
.btn-remover {
    background-color: #f44336;
    color: #ffffff;
    border: none;
    padding: 6px 10px;
    margin-top: 6px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
.concluida .item-lista {
    background-color: #e0ffe0;
    text-decoration: line-through;
}
.Baixa .item-lista {
    background-color: #95e998;
}
.Média .item-lista {
    background-color: #fdd393;
}
.Alta .item-lista{
    background-color: #eca6a1;
}
.erro {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    color: #f44336;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
}
.d-none {
    display: none;
}
@media screen and (max-width: 760px) {
    form{
        margin: 30px;
    }
    ul{
        margin: 30px;
    }
}